# boot bootstrap EFI
set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=5

menuentry 'Install CentOS 7 on {{inventory_hostname}}' --class fedora --class gnu-linux --class gnu --class os {
        linuxefi centos7/vmlinuz inst.repo=http://{{kubeansi.lan_pxe.ip}}/centos7 ip={{ansible_host}}:::{{kubeansi.lan_pxe.netmask}}:{{inventory_hostname}}:{{v_iface_name}}:none ipv6.disable=1 inst.sshd inst.keymap=es selinux=0 inst.ks=http://{{kubeansi.lan_pxe.ip}}/{{inventory_hostname}}.ks inst.ks=http://{{kubeansi.lan_pxe.ip}}/{{inventory_hostname}}.ks inst.ks=http://{{kubeansi.lan_pxe.ip}}/{{inventory_hostname}}.ks
        initrdefi centos7/initrd.img
}

menuentry "Boot from first disk" {
   chainloader (hd0)+1
}

