# boot bootstrap EFI
set default="0"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod biosdisk

set timeout=1

menuentry "Boot from first disk" {
   chainloader (hd0)+1
}

